@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

.CitySearch {
    display: block;
    background-color: azure;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: center;
    
}

.Title {
    text-align: center;
    text-shadow: 1px 1px 10px;
    font-size: 200%;
    color: blueviolet;
}

p { font-size: 120%; color: dimgray; };
a:link { color: gray; } a:visited { color: green; } a:hover { color: purple; } a:active { color: teal; };


    
